@import '@/styles/base/size.sass';
@import '@/styles/base/color.scss';

.list-view {
  .list-item {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: $radius-size-small;
    border: solid 1px $deep-sidebar;
    @media (prefers-color-scheme: dark) {
      border-color: $deep-sidebar-dm;
    }
    cursor: pointer;
    display: flex;
    align-items: center;
    > .filename {
      width: 70%;
      padding-left: 0.5rem;
    }
    > .time {
      width: 30%;
      text-align: right;
      padding-right: 0.5rem;
    }
  }
}

.top-bar-content {
  .loading-box {
    width: 12rem;
    text-align: center;
    > progress {
      margin-top: 0.125rem;
    }
  }
}

.pane-detail-content {
  border-left: solid 1px $deep-sidebar;
  @media (prefers-color-scheme: dark) {
    border-left-color: $deep-sidebar-dm;
  }
  .top {
    margin-top: 1.75rem;
  }
  .thumbnail {
    text-align: center;
    > img {
      width: 100%;
      min-height: 12rem;
      max-height: 30rem;
      object-fit: contain;
      object-position: center;
      border-radius: $radius-size-std;
      border: solid 1px $deep-sidebar;
      @media (prefers-color-scheme: dark) {
        border-color: $deep-sidebar-dm;
      }
    }
  }
  .filename {
    font-size: $font-size-medium;
    margin-bottom: 0.25rem;
  }
  .separator {
    border-top: solid 1px $deep-sidebar;
    @media (prefers-color-scheme: dark) {
      border-top-color: $deep-sidebar-dm;
    }
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .spacing {
    margin-top: 0.5rem;
  }
  .char-2-left {
    padding-left: 2em;
  }
}
