@import "@/styles/variable.sass";
@import "@/styles/base/size.sass";
@import "@/styles/base/color.scss";

.top-bar-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $bg;
    @media (prefers-color-scheme: dark) {
        background-color: $bg-dm;
    }
    > .main-content {
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;
        &.padding-for-top-bar {
            box-sizing: border-box;
            padding-top: $title-bar-height;
        }
        &.scrollable {
            overflow-y: auto;
        }
    }
}
