@import '@/styles/base/color.scss';
@import '@/styles/base/size.sass';

.top-bar-content {
  .navigator-content {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    min-width: 4rem;
    text-align: center;
  }
}

