.vscode
.idea
.DS_Store

/client/node_modules
/frontend/node_modules
/client/target
/frontend/dist
/server/.gradle
/server/gradle
/server/gradlew
/server/gradlew.bat
/server/build
debug
*.db

*.local.*
*.local
