@import '@/styles/base/size.sass';
@import '@/styles/base/color.scss';

.content {
  padding: 0.5rem;
  max-height: 35rem;
  min-height: 5rem;
  width: 50rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  > .two-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > * {
      width: 50%;
    }
  }

  > .scroll-content,
  > .two-columns > .scroll-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .item {
      > .ordinal-flag {
        position: absolute;
        right: 0.25rem; bottom: 0.25rem;
        border-bottom: 1rem solid $danger;
        border-left: 1rem solid transparent;
        > span {
          position: absolute;
          right: 0.25rem;
          top: 0.75rem;
          font-size: 0.5rem;
          color: $literal-dm;
          transform: translate(3px, -6px);
        }
      }
    }
  }
  > .bottom {
    padding-top: 0.5rem;
  }
}
