@import "@/styles/base/size.sass";
@import "@/styles/base/color";

.select-list {
  overflow-y: auto;
  border-radius: $radius-size-std;
  border: solid 1px $dark-lightgrey;
  box-sizing: border-box;
  @media (prefers-color-scheme: dark) {
    border-color: $more-light-dark;
  }
  > .select-item {
    font-size: $font-size-7;
    padding: 0.5em 0.75em;
    white-space: nowrap;
    overflow: hidden;
    @media (prefers-color-scheme: light) {
      &:not(.selected) {
        color: $font-black;
        background-color: $white;
      }
      &.selected {
        color: $white;
        background-color: $link;
      }
    }
    @media (prefers-color-scheme: dark) {
      &:not(.selected) {
        color: $white;
        background-color: $dark;
      }
      &.selected {
        color: $white;
        background-color: $link;
      }
    }
  }
}