$std-text-color: #2c3e50;

$title-bar-height: 40px;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  color: $std-text-color;
}

html::-webkit-scrollbar {
  display: none;
}

.title-bar {
  -webkit-app-region: drag;
  height: $title-bar-height;
  line-height: $title-bar-height;
  border-bottom: dashed 1px $std-text-color;
}