@import 'base/size'
@import 'variable.scss'

//body基本样式
body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-user-select: none
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif
  text-rendering: optimizeLegibility
  font-size: $font-size-std
  color: $font-color-std

//HTML文档本身的滚动条被禁用
html::-webkit-scrollbar
  display: none

//app的顶栏区域，拥有标准高度，可拖拽
.title-bar
  -webkit-app-region: drag
  height: $title-bar-height
  line-height: $title-bar-height

//app的较窄的顶栏区域
.small-title-bar
  -webkit-app-region: drag
  height: $title-bar-height-small
  line-height: $title-bar-height-small

//不可拖拽的样式，用于在顶栏元素中禁用拖拽
.no-drag
  -webkit-app-region: none

//可选择的样式
.can-select
  -webkit-user-select: text