/*标准文本颜色*/ $std-text-color: #2c3e50;
/*灰色区域底色颜色*/ $side-background-color: #f5f5f5;
/*灰色底色与白色的分界线颜色*/ $side-border-color: #e1e1e1;

/*标题栏高度*/ $title-bar-height: 40px;
/*较窄的标题栏高度，出现于设置和向导页面的窗口*/ $small-title-bar-height: 24px;
/*macOS上的红绿灯区域宽度*/ $macos-buttons-width: 70px;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  color: $std-text-color;
}
.can-select {
  -webkit-user-select: text;
}

html::-webkit-scrollbar {
  display: none;
}

.title-bar {
  -webkit-app-region: drag;
  height: $title-bar-height;
  line-height: $title-bar-height;
}
.small-title-bar {
  -webkit-app-region: drag;
  height: $small-title-bar-height;
  line-height: $small-title-bar-height;
}
.no-drag {
  -webkit-app-region: none;
}