@import './variable.scss';

//body的定义，包括文本颜色、不可选择。
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  color: $std-text-color;
}
//文档本身滚动条被禁用
html::-webkit-scrollbar {
  display: none;
}

//app的顶栏区域，拥有标准高度，可拖拽
.title-bar {
  -webkit-app-region: drag;
  height: $title-bar-height;
  line-height: $title-bar-height;
}
//app的较窄的顶栏区域
.small-title-bar {
  -webkit-app-region: drag;
  height: $small-title-bar-height;
  line-height: $small-title-bar-height;
}

//拥有顶栏区域高度的样式
.h-title-bar { 
  height: $title-bar-height; 
}
//可选择的样式
.can-select {
  -webkit-user-select: text;
}
//不可拖拽的样式，用于在顶栏样式上禁用拖拽
.no-drag {
  -webkit-app-region: none;
}