@import 'bulma/sass/utilities/functions.sass';

$pink: #FA7C91;
$pink-invert: findColorInvert($pink);
$pink-light: findLightColor($pink);
$pink-dark: findDarkColor($pink);
$purple: #8A4D76;
$purple-invert: findColorInvert($purple);
$purple-light: findLightColor($purple);
$purple-dark: findDarkColor($purple);
$brown: #757763;
$brown-invert: findColorInvert($brown);
$brown-light: findLightColor($brown);
$brown-dark: findDarkColor($brown);

$custom-colors: (
    "pink": ($pink, $pink-invert, $pink-light, $pink-dark),
    "purple": ($purple, $purple-invert, $purple-light, $purple-dark),
    "brown": ($brown, $brown-invert, $brown-light, $brown-dark)
);