//按hedge实际情况处理过的menu样式，缩小了文本并调整了边距
.h-menu {
    //menu菜单列表
    > ul.menu-list {
        //一个menu菜单项
        > li {
            //菜单项中的a部分
            > a {
                font-size: 0.8rem !important;
                padding: 0.25rem 0.75rem;
                //a中的图标
                > span.icon > i.fa {
                    margin-right: 0.5rem;
                }
            }
            //二次菜单部分
            > ul {
                margin-top: 0.25rem;
                margin-left: 1rem;
                padding-left: 0.25rem;
                //二级菜单的a部分
                > li > a {
                    font-size: 0.8rem !important;
                    padding: 0.35rem 0.75rem;
                }
            }
        }
    }
}

.h-middle-layout {
    position: relative;
    margin: 0.3rem;

    > div.left {
        position: absolute;
        left: 0; top: 0; height: 100%;
        display: flex; 
        align-items: center;
        justify-content: flex-start;
    }
    > div.middle {
        position: absolute;
        height: 100%;
        left: 25%; right: 30%; 
    }
    > div.middle-center {
        position: absolute;
        height: 100%;
        left: 0; right: 0; 
    }
    > div.right {
        position: absolute;
        right: 0; top: 0; height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}