@import '../../../../styles/App.scss';

#app #hedge #hedge-tags {
    //主栏与边栏的分列
    > .v-columns {
        position: absolute;
        width: 100%;
        display: flex;
        height: calc(100% - #{$title-bar-height});
        margin-top: $title-bar-height;
    }
    //顶栏上的编辑按钮
    .v-edit-button {
        position: absolute;
        right: 0.5rem;
        &.v-edit-button-transition-enter-from,
        &.v-edit-button-transition-leave-to {
            transform: translateX(125%);
        }
        &.v-edit-button-transition-enter-active,
        &.v-edit-button-transition-leave-active {
            transition: transform 0.4s ease;
        }
    }
}

#app #hedge #hedge-tags #tag-tree {
    width: 100%;
    padding: 2rem;
    overflow-y: auto;

    //根节点的box
    > .v-root-node {
        //展开的列表区域
        > .v-expanded-box {
            //列表区域的展开收起动画
            @mixin v-expand-transition-state($e) {
                transition: max-height 0.25s $e;
                overflow: hidden;
                max-height: 250px;
            }
            &.v-expand-transition-enter-active {
                @include v-expand-transition-state(ease-in);
            }
            &.v-expand-transition-leave-active {
                @include v-expand-transition-state(ease-out);
            }
            &.v-expand-transition-enter-from,
            &.v-expand-transition-leave-to {
                max-height: 0;
            }
        }
    }
    //子节点列表
    // .v-child-node-list {}
    //子节点列表项
    // .v-child-node {}
    //功能按钮型标签项
    a.tag.v-function-button {
        cursor: pointer;
        text-decoration: none;
        //鼠标经过样式
        &:hover {
            color: black;
        }
    }
}

#app #hedge #hedge-tags #tag-detail {
    $width: 275px;
    width: $width;
    
    //边栏进出的变换
    &.v-detail-transition-enter-from,
    &.v-detail-transition-leave-to {
        width: 0;
    }
    &.v-detail-transition-enter-active {
        transition: width 0.25s ease-out;
    }
    &.v-detail-transition-leave-active {
        transition: width 0.25s ease-in;
    }

    //内容区，双层是为了在width动画变换中保持内容宽度
    > div {
        width: $width;
        max-height: 100%;
        padding: 2rem 1rem 1rem 0.5rem;
        overflow-y: auto;
        font-size: 0.75rem;

        //关闭按钮
        > a.delete {
            position: absolute;
            right: 0.5rem; top: 0.5rem;
        }
        //类型flag区
        > div.v-meta {
            margin-left: 0.25rem;
            margin-top: 0.75rem;
            > p {
                margin-top: 0.5rem;
            }
        }
        //注解区
        > div.v-annotations {
            margin-top: 1.5rem;
        }
        //描述区
        > div.v-description {
            margin-top: 0.25rem;
            margin-bottom: 0;
            padding: 0.75rem;
        }
        //连接条件区
        > div.v-conditions {
            margin-top: 1rem;
            > div.box {
                padding: 0.75rem 0 0.75rem 0.75rem;
                > p.v-title {
                    margin-bottom: 0.5rem;
                }
                > p.v-meta {
                    margin-bottom: 0.25rem;
                }
                // > p.v-default {}
            }
        }
        //评分
        > div.v-score {
            margin-top: 1.5rem;
            font-size: 1rem;
        }
        //样例images区
        > div.v-examples {
            margin-top: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            > img {
                border-radius: 6px;
                max-width: 100%;
                max-height: 300px;
                margin-bottom: 0.5rem;
                margin-right: 0.5rem;
            }
        }
    }
}