@import "@/styles/variable.sass";

.side-layout {
    //主要内容区域的布局定位
    > .content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        transition: left 0.4s ease;
    }
    //侧边栏内容区域的布局定位
    > .side-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        transition: transform 0.4s ease;
    }
    //拖拽区域的布局定位
    > .resize-content {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        transform: translateX(-3px);
        cursor: ew-resize;
    }    
}

.side-bar {
    /*侧边栏的底栏按钮高度*/
    $bottom-buttons-height: 40px;

    position: absolute;
    left: 0; top: 0; height: 100%; width: 100%;
    background-color: $background-color-side;
    border-right: solid 1px $border-color-side;
    box-shadow: inset -0.6rem 0px 0.5rem -0.5rem rgba(128, 128, 128, 0.1);
    &.deep-color {
        background-color: $background-color-side-dark;
        border-right-color: $border-color-side-dark;
    }
    //侧边栏顶的折叠按钮
    > .collapse-button {
        position: absolute;
        right: 0.5rem;
        top: 5px;
    }
    //侧边栏主要内容区域的menu
    > .content {
        margin-top: $title-bar-height;
        padding: 0.75rem;
        overflow-y: auto;
        box-sizing: border-box;
        &:not(.with-bottom) {
            height: calc(100% - #{$title-bar-height});
        }
        &.with-bottom {
            height: calc(100% - #{$title-bar-height + $bottom-buttons-height});
        }
    }
    //侧边栏底部的按钮组
    > .buttons {
        padding: 5px 0 5px 5px;
        width: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        height: $bottom-buttons-height;
        border-top: solid 1px $border-color-side;
    }
}

.top-bar {
    position: absolute;
    height: $title-bar-height;
    top: 0; right: 0;
    transition: left 0.4s ease;

    //其他任意平台的内容区域布局
    &:not(has-darwin-button) { left: 0; }
    //macOS平台的内容区域布局。左侧留出红绿灯的宽度
    &.has-darwin-button { left: $macos-buttons-width; }
    //左侧的折叠按钮
    > .collapse-button {
        margin-left: 0.5rem;
        margin-top: 5px;
        //折叠按钮进出的vue变换
        &:global(.v-collapse-button-enter-active),
        &:global(.v-collapse-button-leave-active) {
            transition: transform 0.4s ease;
        }
        &:global(.v-collapse-button-enter-from),
        &:global(.v-collapse-button-leave-to) {
            transform: translateX(-200%);
        }
    }

    //顶栏内容区域的布局定位
    > .content {
        $height: 30px;
        $margin-size: ($title-bar-height - $height) / 2;
        position: absolute;
        top: $margin-size;
        right: $margin-size;
        height: $height;
        transition: left 0.4s ease;
        box-sizing: border-box;

        //在侧边栏折叠时，显示折叠按钮，需要留出左侧的空隙
        &.has-cl-button { left: #{40px + $margin-size}; }
        //在侧边栏展开时，不限时折叠按钮，不用留出空隙
        &:not(.has-cl-button) { left: $margin-size; }
    }
}