@import '@/styles/variable.scss';

.root {
    .content {
        height: 100%;
        > .scroll-content {
            max-height: 100%;
            overflow-y: auto;
            padding: 4rem 2rem 2rem 2rem;
        }
    }
}

.side-bar {
    background-color: $background-color-side-dark;
    border-right: solid 1px $border-color-side-dark;
    position: absolute;
    left: 0; top: 0; height: 100%; width: 100%;

    //侧边栏主要内容区域的menu
    > .content {
        padding: $title-bar-height-small 0.75rem 0.75rem 0.75rem;
        overflow-y: auto;
        height: 100%;
    }
}