
.root {
    width: 100vw;
    height: 100vh;
    .content {
        height: 100%;
        > .scroll-content {
            box-sizing: border-box;
            max-height: 100%;
            overflow: auto;
            padding: 4rem 2rem 2rem 2rem;
        }
    }
}
