
.source-tag-editor {
  width: 100%;
  min-height: 3rem;
  display: flex;
  flex-wrap: nowrap;

  > .list {
    width: 60%;
    max-height: 6rem;
    overflow-y: auto;
    padding: 0.5rem;
  }
  > .editor {
    width: 40%;
  }
}
