@import "@/styles/base/color.scss";
@import "@/styles/base/size.sass";

.delete-button {
  position: absolute;
  right: 0.5rem; bottom: 0.5rem;
}

.drop-area {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 25%;
  padding-bottom: 25%;

  > div {
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $shallow-bg;

    &.dropping {
      background-color: $deep-sidebar;
    }

    @media (prefers-color-scheme: dark) {
      background-color: $shallow-bg-dm;
      &.dropping {
        background-color: $deep-sidebar-dm;
      }
    }
  }
}
