@import "../base/size"
@import "../base/font"
@import "../base/color.scss"

//文本尺寸
@each $name, $size in $font-size-map
  .is-size-#{$name}
    font-size: $size
@each $name, $size in $font-size-name
  .is-size-#{$name}
    font-size: $size

//文本行高(用于跟表单元素对齐)
@each $name, $size in $height-map
  .is-line-height-#{$name}
    line-height: $size
  .is-line-height-default
    line-height: normal

//元素文本宽度(用于固定文本大小)
@for $i from 1 through 100
  .is-line-width-#{$i}
    width: 1em * $i
  .is-min-line-width-#{$i}
    min-width: 1em * $i


//文本颜色和背景色
@each $name, $pair in $colors
  $color: nth($pair, 1)
  .has-text-#{$name}
    color: $color !important
  .has-bg-#{$name}
    background-color: $color !important
@media (prefers-color-scheme: dark)
  @each $name, $pair in $colors-dark-mode
    $color: nth($pair, 1)
    .has-text-#{$name}
      color: $color
    .has-bg-#{$name}
      background-color: $color !important

//文本字体
.is-monospace
  font-family: $family-monospace
.is-monaco
  font-family: $family-monaco

//文本对齐位置
.has-text-centered
  text-align: center
.has-text-right
  text-align: right

//文本不换行功能
.no-wrap
  white-space: nowrap
  &.overflow-hidden
    overflow: hidden
  &.overflow-ellipsis
    overflow: hidden
    text-overflow: ellipsis

