/**
 * 与元素布局相关的CSS原子类。
 */

//全局绝对布局
//@deprecated 样式设计需要更新。现在的设计较为原始
.fixed {
    position: fixed !important;
    &.center { left: 50%; top: 50%; transform: translate(-50%, -50%); }
    &.top { top: 0; left: 50%; transform: translateX(-50%); }
}

//相对布局
//@deprecated
.absolute {
    position: absolute !important;
    &.top { top: 0; }
    &.bottom { bottom: 0; }
    &.right-bottom { right: 0; bottom: 0; }
    &.left-bottom { left: 0; bottom: 0; }
    &.right-top { right: 0; top: 0; }
    &.left-top { left: 0; top: 0; }
    &.center { left: 50%; top: 50%; transform: translate(-50%, -50%); }
    &.vertical-center { top: 50%; transform: translateY(-50%); }
    &.horizontal-center { left: 50%; transform: translateX(-50%); }
    &.stretch { top: 0; bottom: 0; left: 0; right: 0; }
}

.w-100 { width: 100% }
.h-100 { height: 100% }