@import "@/styles/base/size.sass";

.detail-view {
  .examples {
    //列数
    $column-number: 5;
    display: flex;
    flex-wrap: wrap;
    margin-right: #{-$spacing-1};
    //一个img项目，使用width和padding-bottom锁定长宽比
    > .example {
      position: relative;
      height: 0;
      width: #{percentage(1 / $column-number)};
      padding-bottom: #{percentage(1 / $column-number)};
      //内层img绝对定位以应用长宽比
      > img {
        position: absolute;
        border-radius: 6px;
        top: 0; left: 0;
        width: calc(100% - #{$spacing-1});
        height: calc(100% - #{$spacing-1});
        object-fit: cover;
        object-position: 50% 50%;
        box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.1);
      }
    }
    > .more {
      width: 100%;
      text-align: right;
    }
  }
}
