@import 'functions.sass';;
/**
 * 原色的基本定义。
 */

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 4%);
$grey: hsl(0, 0%, 48%);
$light: hsl(0, 0%, 95%);
$dark: #212121; //dark mode下的背景色
$primary: hsl(171, 100%, 41%);
$success: hsl(153, 53%, 53%);
$info: hsl(207, 61%, 53%);
$link: hsl(229, 53%, 53%);
$warning: hsl(44, 100%, 77%);
$danger: hsl(348, 86%, 61%);
$orange: hsl(14, 100%, 53%);
$purple: hsl(271, 100%, 71%);
$pink: #FA7C91;
$brown: #757763;
$font-black: #2c3e50; //文字颜色
$lightgrey: #efefef; //侧边栏颜色，同时也是一般按钮/块的背景色
$dark-lightgrey: #e4e4e4; //更深的侧边栏颜色
$light-dark: #343434; //dark mode下的侧边栏颜色
$more-light-dark: #2e2e2e; //dark mode下更浅的侧边栏颜色
$more-dark: #151515; //更深的dark，作为light在dark mode下的反色

$light-invert: findColorInvert($light);
$dark-invert: findColorInvert($dark);
$grey-invert: findColorInvert($grey);
$primary-invert: findColorInvert($primary);
$success-invert: findColorInvert($success);
$info-invert: findColorInvert($info);
$link-invert: findColorInvert($link);
$warning-invert: findColorInvert($warning);
$danger-invert: findColorInvert($danger);
$orange-invert: findColorInvert($orange);
$purple-invert: findColorInvert($purple);
$pink-invert: findColorInvert($pink);
$brown-invert: findColorInvert($brown);
$side-grey-invert: findColorInvert($lightgrey);
$dark-side-grey-invert: findColorInvert($dark-lightgrey);
$font-black-invert: findColorInvert($font-black);

$primary-light: findLightColor($primary);
$success-light: findLightColor($success);
$info-light: findLightColor($info);
$link-light: findLightColor($link);
$warning-light: findLightColor($warning);
$danger-light: findLightColor($danger);
$orange-light: findLightColor($orange);
$purple-light: findLightColor($purple);
$pink-light: findLightColor($pink);
$brown-light: findLightColor($brown);

$primary-dark: findDarkColor($primary);
$success-dark: findDarkColor($success);
$info-dark: findDarkColor($info);
$link-dark: findDarkColor($link);
$warning-dark: findDarkColor($warning);
$danger-dark: findDarkColor($danger);
$orange-dark: findDarkColor($orange);
$purple-dark: findDarkColor($purple);
$pink-dark: findDarkColor($pink);
$brown-dark: findDarkColor($brown);

$colors: (
        "white" ($white, $font-black),
        "black" ($black, $white),
        "font-black" ($font-black, $font-black-invert),
        "grey" ($grey, $grey-invert),
        "light" ($more-dark, $light),
        "dark" ($dark, $dark-invert),
        "lightgrey" ($lightgrey, $side-grey-invert),
        "dark-lightgrey" ($dark-lightgrey, $dark-side-grey-invert),
        "primary" ($primary, $primary-invert, $primary-light, $primary-dark),
        "link" ($link, $link-invert, $link-light, $link-dark),
        "info" ($info, $info-invert, $info-light, $info-dark),
        "success" ($success, $success-invert, $success-light, $success-dark),
        "warning" ($warning, $warning-invert, $warning-light, $warning-dark),
        "danger" ($danger, $danger-invert, $danger-light, $danger-dark),
        "purple" ($purple, $purple-invert, $purple-light, $purple-dark),
        "pink" ($pink, $pink-invert, $pink-light, $pink-dark),
        "brown" ($brown, $brown-invert, $brown-light, $brown-dark)
);

$colors-dark-mode: (
        "white" ($dark, $white),
        "black" ($white, $black),
        "font-black" ($white, $light),
        "grey" ($grey, $grey-invert),
        "light" ($light-invert, $light),
        "dark" ($dark-invert, $dark),
        "lightgrey" ($light-dark, $white),
        "dark-lightgrey" ($more-light-dark, $white),
        "primary" ($primary, $primary-invert, $primary-light, $primary-dark),
        "link" ($link, $link-invert, $link-light, $link-dark),
        "info" ($info, $info-invert, $info-light, $info-dark),
        "success" ($success, $success-invert, $success-light, $success-dark),
        "warning" ($warning, $warning-invert, $warning-light, $warning-dark),
        "danger" ($danger, $danger-invert, $danger-light, $danger-dark),
        "purple" ($purple, $purple-invert, $purple-light, $purple-dark),
        "pink" ($pink, $pink-invert, $pink-light, $pink-dark),
        "brown" ($brown, $brown-invert, $brown-light, $brown-dark)
);