@import "@/styles/base/color.scss";
@import "@/styles/base/size.sass";

.root {
  z-index: 90;
  position: fixed;

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    background-color: rgba(233, 233, 233, 0.618);

    &.transaction-active {
      transition: opacity 0.3s ease;
    }
    &.transaction-goal {
      opacity: 0;
    }
  }

  .box-framework {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.transaction-enter-active {
      transition: transform 0.1s ease-out;
    }
    &.transaction-leave-active {
      transition: transform 0.1s ease-in, opacity 0.15s ease-in;
    }
    &.transaction-enter-from {
      transform: translate(-50%, calc(1rem - 50%));
    }
    &.transaction-leave-to {
      transform: translate(-50%, calc(1rem - 50%));
      opacity: 0;
    }

    > .box {
      background-color: $bg;
      border: solid 1px $more-deep-light;
      border-radius: $radius-size-large;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .root {
    .background {
      background-color: rgba(0, 0, 0, 0.618);
    }
    .box-framework {
      > .box {
        background-color: $bg-dm;
        border-color: $more-shallow-dark;
      }
    }
  }
}
