@import "@/styles/base/color.scss";
@import "@/styles/base/size.sass";

.tag-examples {
  display: flex;
  flex-wrap: wrap;
  @for $i from 1 through 5 {
    &.column-num-#{$i} {
      > .example {
        width: percentage(1 / $i);
        //一个线性变化的比例：1列时比例为2:3，5列时比例为1:1
        padding-bottom: percentage(((7 + $i) / 12) / $i);
      }
    }
  }
  > .example {
    position: relative;
    height: 0;
    > img {
      position: absolute;
      border-radius: 6px;
      top: 0; left: 0;
      width: calc(100% - 0.25rem);
      height: calc(100% - 0.25rem);
      object-fit: cover;
      object-position: 50% 50%;
      box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.1);
    }
  }
}
