@import "@/styles/base/size.sass";
@import "@/styles/base/color";

.select-list {
  overflow-y: auto;
  box-sizing: border-box;
  overflow-x: hidden;

  > .select-item {
    font-size: $font-size-7;
    white-space: nowrap;
    overflow: hidden;
    &.selected {
      color: $white;
      background-color: $link;
    }
    @media (prefers-color-scheme: light) {
      &:not(.selected) {
        color: $literal;
        background-color: $bg;
      }
    }
    @media (prefers-color-scheme: dark) {
      &:not(.selected) {
        color: $literal-dm;
        background-color: $bg-dm;
      }
    }
  }

  &.std {
    border-radius: $radius-size-std;
    border: solid 1px $deep-sidebar;
    @media (prefers-color-scheme: dark) {
      border-color: $deep-sidebar-dm;
    }

    > .select-item {
      padding: 0.5em 0.75em;
    }
  }
  &.nested {
    > .select-item {
      padding: 0.35em;
    }
  }
}
