#app .v-start-index {
    
    .v-transition-list-move {
        transition: transform 0.5s ease;
    }
    .v-list {
        $box-width: 200px;
        $box-height: 300px;

        position: absolute;
        width: 100%;
        top: calc(50% - 175px);

        .v-box {
            position: absolute;
    
            &.main {
                width: $box-width * 1.25;
                height: $box-height * 1.25;
            }
            &.secondary {
                width: $box-width;
                height: $box-height;
                margin-top: $box-height * 0.125;
                margin-left: $box-width * 0.125;
            }
            &.secondary:hover {
                cursor: pointer;
                transform: translateY(-0.4rem);;
            }
    
            .v-path-text {
                font-size: 0.6rem;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 1rem;
                padding: 0 1rem;
            }
        }   
    }
}