@import '../../styles/App.scss';

/*底栏高度*/ $bottom-bar-height: 100px;

#app #start #bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $bottom-bar-height;
    border-top: solid 1px $side-border-color;
    background-color: $side-background-color;

    //底栏上的按钮组定位
    > nav {
        margin-top: calc(50px - 1.5rem - 2px);
        padding: 0 0.75rem;
    }
}