@import '@/styles/variable.scss';

/*底栏高度*/ $bottom-bar-height: 100px;

.start {
    //主要内容区域
    > .content {
        position: absolute;
        top: $title-bar-height;
        bottom: 0; left: 0; right: 0;
        //左栏
        > .left {
            position: absolute;
            height: 100%;
            width: 70%;
            left: 0;
            padding: 0.5rem 0.5rem 1rem 1rem;
        }
        //右栏
        > .right {
            position: absolute;
            height: 100%;
            width: 30%;
            right: 0;
            padding: 0.5rem 1rem 1rem 0.5rem;
        }
    }
    //可点击的notification
    :global(.notification).hoverable {
        cursor: pointer;
    }
    //图像
    .image {
        $margin-width: 2px;
        margin: $margin-width;
        width: calc(100% - #{$margin-width * 2}); 
        height: calc(100% - #{$margin-width * 2});
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 4px;
    }
}

#app #start #bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $bottom-bar-height;
    border-top: solid 1px $side-border-color;
    background-color: $side-background-color;

    //底栏上的按钮组定位
    > nav {
        margin-top: calc(50px - 1.5rem - 2px);
        padding: 0 0.75rem;
    }
}