@import "@/styles/variable.sass";
@import "@/styles/base/color.scss";
@import "@/styles/base/size.sass";

.list-view {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1rem 2rem;
  box-sizing: border-box;

  .root-node {
    margin-bottom: 0.25rem;
    > .expanded-box {
      //列表区域的展开收起动画
      @mixin expand-transition-state($e) {
        transition: max-height 0.15s $e;
        overflow: hidden;
        max-height: 150px;
      }
      &.expand-transition-enter-active {
        @include expand-transition-state(ease-in);
      }
      &.expand-transition-leave-active {
        @include expand-transition-state(ease-out);
      }
      &.expand-transition-enter-from,
      &.expand-transition-leave-to {
        max-height: 0;
      }

      .child-node-list {
        &.inline {
          display: flex;
          flex-wrap: wrap;

          > * {
            margin-top: 0.25rem;
            &:not(:last-child) {
              margin-right: 0.25rem;
            }
          }
        }
        &:not(.inline) {
          > * {
            margin-top: 0.25rem;
          }
        }
      }
    }
  }
}

.pane-detail-content {
  border-left: solid 1px $deep-sidebar;
  @media (prefers-color-scheme: dark) {
    border-left-color: $deep-sidebar-dm;
  }
  .top {
    margin-top: 1.75rem;
  }
  .creator-top {
    margin-top: 0.5rem;
  }
  .title {
    > b { font-size: $font-size-large; }
    > i { margin-left: 0.25rem; }
  }
  .meta {
    margin-left: 0.25rem;
    margin-top: 0.75rem;
  }
  .separator {
    margin-top: 0.75rem;
  }
  .annotations {
    margin-top: 0.25rem;
    > :global(.tag) {
      margin-bottom: 0.25rem;
      margin-right: 0.25rem;
    }
  }
  .description {
    position: relative;
    padding: 0.75rem;
    > .edit {
      position: absolute;
      right: 0.4rem;
      bottom: 0.3rem;
      font-size: $font-size-small;
    }
  }
  .links {
    margin-top: 1rem;
    > p:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }
  .score {
    margin-top: 1rem;
  }
  .examples {
    margin-top: 1rem;
    .example-list {
      display: flex;
      flex-wrap: wrap;
      > .example {
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 66.7%;
        margin-bottom: 0.25rem;
        > img {
          position: absolute;
          border-radius: 6px;
          top: 0; left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
