@import '@/styles/base/size.sass';
@import '@/styles/base/color.scss';

.grid {
  position: relative;
  width: 100%; height: 100%;

  .item {
    position: relative;
    height: 0;

    //内容显示
    > .content {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      margin: 1px;

      //实际的img
      > img {
        width: 100%;
        height: 100%;
        object-position: center;
      }
    }
    //选中显示块
    > .selected {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      margin: 1px;
      border: solid 3px rgb(0, 99, 255);
      @media (prefers-color-scheme: dark) {
        border-width: 2px;
      }
      > .internal-border {
        width: 100%; height: 100%;
        box-sizing: border-box;
        border: solid 1px $white;
        @media (prefers-color-scheme: dark) {
          border-color: $black;
        }
      }
    }
    //点击浮层
    > .touch {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
    }
    //分侧的点击浮层(用于判断拖放位置)
    > .left-touch {
      position: absolute;
      top: 0; bottom: 0; left: 0; width: 50%;
    }
    > .right-touch {
      position: absolute;
      top: 0; bottom: 0; right: 0; width: 50%;
    }
    //两侧的拖放提示条
    > .left-drop-tooltip {
      z-index: 1;
      position: absolute;
      top: 0; bottom: 0; left: -2px; width: 5px;
      background-color: rgba(127, 127, 127, 0.6);
    }
    > .right-drop-tooltip {
      z-index: 1;
      position: absolute;
      top: 0; bottom: 0; right: -3px; width: 5px;
      background-color: rgba(127, 127, 127, 0.6);
    }
    //children num的浮动角标
    > .num-tag {
      position: absolute;
      right: 0.35rem;
      top: 0.35rem;
      opacity: 0.75;
      border-radius: $radius-size-std;
      > i {
        margin-right: 0.25rem;
      }
    }
    > .fav-tag {
      position: absolute;
      right: 0.35rem;
      bottom: 0.35rem;
    }
  }

  &.fit-type-cover .item > div > img {
    object-fit: cover
  }
  &.fit-type-contain .item > div > img {
    object-fit: contain
  }
  @for $col from 3 through 16 {
    &.column-num-#{$col} .item {
      width: #{percentage(1 / $col)};
      padding: #{percentage(0.5 / $col)} 0
    }
  }
}

.row-list {
  position: relative;
  width: 100%; height: 100%;

  .item {
    $item-height: 32px;
    $item-padding: 2px;
    height: $item-height;
    line-height: $item-height;
    padding: $item-padding 0.25rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.selected {
      background-color: $link;
      color: $white;
    }
    //分侧的点击浮层(用于判断拖放位置)
    > .left-touch {
      position: absolute;
      top: 0; left: 0; right: 0; height: 50%;
    }
    > .right-touch {
      position: absolute;
      bottom: 0; left: 0; right: 0; height: 50%;
    }
    //两侧的拖放提示条
    > .left-drop-tooltip {
      z-index: 1;
      position: absolute;
      left: 0; right: 0; top: -2px; height: 5px;
      background-color: rgba(127, 127, 127, 0.6);
    }
    > .right-drop-tooltip {
      z-index: 1;
      position: absolute;
      left: 0; right: 0; bottom: -3px; height: 5px;
      background-color: rgba(127, 127, 127, 0.6);
    }

    > .img {
      width: #{$item-height - $item-padding * 2};
      flex-shrink: 0;
      > img {
        object-fit: cover;
        object-position: center;
        width: 100%; height: 100%;
      }
    }
    > .title {
      padding-left: 0.25rem;
    }
    &.import-image > .title {
      width: 40%;
    }
    &.illust > .title {
      width: 25%;
    }
    > .children-count {
      width: 3.5rem;
      flex-shrink: 0;
    }
    > .favorite {
      width: 1.5rem;
      flex-shrink: 0;
      text-align: center;
    }
    > .score {
      width: 10%;
      flex-shrink: 0;
      text-align: center;
    }
    > .tagme {
      width: 7rem;
      flex-shrink: 0;
    }
    > .source {
      width: 30%;
      padding-left: 0.5rem;
    }
    > .time {
      text-align: right;
      padding-right: 0.25rem;
    }
    &.import-image > .time {
      width: 30%;
    }
    &.illust > .time {
      width: 20%;
    }
  }
}

.selected-count-tag {
  position: absolute;
  right: 0; top: 0;
  margin-top: 0.75rem;
  margin-right: 0.75rem;
  padding: 0.15rem 0.6rem;
  border-radius: $radius-size-std;
  font-weight: bold;
  color: $literal-dm;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.65);
}

.pane-detail-content {
  .top {
    margin-top: 1.75rem;
  }
  .filename {
    font-size: $font-size-medium;
    margin-bottom: 0.25rem;
    word-wrap: anywhere;
  }
  .separator {
    border-top: solid 1px $deep-sidebar;
    @media (prefers-color-scheme: dark) {
      border-top-color: $deep-sidebar-dm;
    }
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .spacing {
    margin-top: 0.5rem;
  }
  .char-2-left {
    padding-left: 2em;
  }
}
