@import '@/styles/variable.scss';

#app #hedge #grid-panel {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: white; 
}

// #app #hedge #grid-panel #panel {}

// #app #hedge #grid-panel #side-bar-grid {}