@import "@/styles/base/size.sass";
@import "@/styles/base/color.scss";

.root {
  .site-board {
    $height: 12.5rem;
    display: flex;
    flex-flow: nowrap;
    > .left {
      width: 45%;
      height: $height;
      padding-right: 0.5rem;
    }
    > .right {
      width: 55%;
      height: $height;
      margin-left: 0.5rem;
    }
  }

  .spider-board {
    $min-height: 10rem;
    display: flex;
    flex-flow: nowrap;
    min-height: $min-height;
    > .left {
      width: 25%;
      padding-right: 0.5rem;
      > .left-list {
        height: calc(100% - #{0.25rem + $height-small});
      }
      > .left-bottom {
        margin-top: 0.25rem;
        width: 100%;
      }
    }
    > .right {
      width: 75%;
      margin-left: 0.5rem;
    }
  }
}