@import '../../styles/App.scss';

#app .v-hedge {
    //主面板的进入和离开变换
    > .v-main-panel-transition-enter-from,
    > .v-main-panel-transition-leave-to {
        transform: translateY(25%);
    }
    > .v-main-panel-transition-enter-active {
        transition: transform 0.3s ease-out;
    }
    > .v-main-panel-transition-leave-active {
        transition: transform 0.3s ease-in;
    }
    //其他面板的进入和离开变换
    > .v-other-panel-transition-enter-from,
    > .v-other-panel-transition-leave-to {
        transform: translateY(100%);
    }
    > .v-other-panel-transition-enter-active {
        transition: transform 0.3s ease-out;
    }
    > .v-other-panel-transition-leave-active {
        transition: transform 0.3s ease-in;
    }
}

#app .v-hedge .v-side-layout {
    //主要内容区域的布局定位
    > .v-content {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        transition: left 0.4s ease;
    }
    //侧边栏内容区域的布局定位
    > .v-side-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }
    //拖拽区域的布局定位
    > .v-resize-content {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        transform: translateX(-3px);
        cursor: ew-resize;
    }

    //侧边栏折叠的vue变换
    > .v-side-bar-collapse-enter-active,
    > .v-side-bar-collapse-leave-active {
        transition: transform 0.4s ease;
    }
    > .v-side-bar-collapse-enter-from,
    > .v-side-bar-collapse-leave-to {
        transform: translateX(-100%);
    }
}

#app .v-hedge .v-side-bar {
    $bottom-buttons-height: 40px;

    background-color: $side-background-color;
    border-right: solid 1px $side-border-color;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    //侧边栏顶的折叠按钮
    > .v-collapse-button {
        position: absolute;
        right: 0.5rem;
        top: 0.35rem;
    }
    //侧边栏主要内容区域的menu
    > .v-content {
        margin-top: $title-bar-height;
        padding: 0.75rem;
        overflow-y: auto;
        height: calc(100% - #{$title-bar-height + $bottom-buttons-height});
    }
    //侧边栏底部的按钮组
    > .v-buttons {
        padding: 5px 0 5px 5px;
        width: 100%;
        overflow: hidden;
        height: $bottom-buttons-height;
        border-top: solid 1px $side-border-color;
    }
}