@import "@/styles/base/size.sass";

.detail-view {
  .examples {
    display: flex;
    flex-wrap: wrap;
    margin-right: #{-$spacing-1};
    //一个img项目，使用width和padding-bottom锁定长宽比
    > .example {
      position: relative;
      height: 0;
      width: 25%;
      padding-bottom: 25%;
      //内层img绝对定位以应用长宽比
      > img {
        position: absolute;
        border-radius: 6px;
        top: 0; left: 0;
        width: calc(100% - #{$spacing-1});
        height: calc(100% - #{$spacing-1});
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
    > .more {
      width: 100%;
      text-align: right;
    }
  }
}