
//children列表
.children-list {
  display: flex;
  &.inline {
    flex-wrap: wrap;
    margin-bottom: 0.25rem;

    > .child {
      margin-top: 0.125rem;
      margin-bottom: 0.125rem;
    }
  }
  &:not(.inline) {
    flex-wrap: nowrap;
    flex-direction: column;

    > .child {
      > p {
        display: inline-flex;
      }
    }
  }
}
