@import '@/styles/base/color.scss';
@import '@/styles/base/size.sass';

.root {
  z-index: 100;
  position: fixed;
  top: 0; right: 0;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  pointer-events: none;

  .item {
    margin-bottom: 0.5rem;
    width: fit-content;
    min-width: 5rem;
    max-width: 36rem;
    pointer-events: auto;

    &.transition-enter-from {
      transform: translateX(100%);
    }
    &.transition-leave-to {
      transform: translateY(-100%);
      opacity: 0;
    }
    &.transition-enter-active {
      transition: transform 0.15s ease-out;
    }
    &.transition-leave-active {
      position: absolute; //需要将leave的element设置为absolute，以使其从文档流中抽出，从而使vue的list move class生效
      transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    }
    &.transition-list-move {
      transition: transform 0.3s ease;
    }

    background-color: $bg;
    border: 1px solid $deep-light;
    border-right-width: 0;
    border-top-left-radius: $radius-size-small;
    border-bottom-left-radius: $radius-size-small;
    box-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.2);

    @media (prefers-color-scheme: dark) {
      background-color: $bg-dm;
      box-shadow: 0.1em 0.1em 0.25em rgba(255, 255, 255, 0.2);
    }

    $local-colors: (
            "plain" ($deep-light $literal $grey $literal-dm),
            "info" ($blue $blue-invert $blue-dark $blue-light),
            "success" ($lightgreen $lightgreen-invert $lightgreen-dark $lightgreen-light),
            "warning" ($yellow $yellow-invert $yellow-dark $yellow-light),
            "danger" ($red $red-invert $red-dark $red-light)
    );

    @each $name, $pair in $local-colors {
      $color: nth($pair, 1);
      $color-invert: nth($pair, 2);
      $color-dark: nth($pair, 3);
      $color-light: nth($pair, 4);
      &.is-#{$name} {
        border-color: $color;
        > .title-content {
          background-color: $color;
          color: $color-invert;
          > .close-button {
            color: $color-invert;
          }
        }
      }
    }

    > .title-content {
      padding: 0.125rem 0.125rem 0.125rem 0.5rem;
      font-size: $font-size-small;
      > .close-button {
        float: right;
        visibility: hidden;
        &.show {
          visibility: visible;
        }
      }
    }
    > .content {
      padding: 0.25rem 0.5rem;
      font-size: $font-size-small;
    }
  }
}
