@import '@/styles/variable.scss';

#app #hedge #hedge-authors {
    position: relative;
    height: calc(100% - #{$title-bar-height});
    padding-top: $title-bar-height;
}

#app #hedge #hedge-authors #panel-list-view {
    padding: 0.5rem;
    overflow: auto;
    max-height: 100%; width: 100%;
}