@import '@/styles/base/size.sass';

.item {
  width: 100%;
  height: 74px;
  margin-bottom: 6px;
  padding: 1rem;

  display: flex;
  flex-wrap: nowrap;
  > .left {
    width: 40%;
  }
  > .right {
    width: 60%;

    > .ank-list {
      line-height: $height-std;
      width: 100%;
      height: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
