//视图容器
.view-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  &.hidden {
    visibility: hidden;
    transition: visibility 0.15s;
  }

  //view container的进入和离开变换
  &.transition-enter-from {
    transform: translateY(50vh);
  }
  &.transition-leave-to {
    transform: translateY(100vh);
  }
  &.transition-enter-active {
    transition: transform 0.15s ease-out;
    backface-visibility: hidden;
  }
  &.transition-leave-active {
    transition: transform 0.3s;
    backface-visibility: hidden;
  }
}
//视图后的渐变遮罩层
.view-background-cover {
  position: absolute;
  left: 0; top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  &.transition-enter-from,
  &.transition-leave-to {
    opacity: 0;
  }
  &.transition-enter-active {
    transition: opacity 0.15s;
    backface-visibility: hidden;
  }
  &.transition-leave-active {
    transition: opacity 0.3s;
    backface-visibility: hidden;
  }
}
