@import '@/styles/base/color.scss';
@import '@/styles/base/size.sass';

.origin-data-panel {
  > .no-origin-data {
    text-align: center;
    color: $grey;
  }
}

.related-items-panel {
  > .albums {
    > .album {
      margin-top: 0.25rem;
      border-radius: $radius-size-std;
      border: solid 1px $deep-sidebar;
      @media (prefers-color-scheme: dark) {
        border-color: $deep-sidebar-dm;
      }
      text-align: center;
      padding: 0.125em;
    }
  }
  > .collection {
    margin-top: 0.25rem;
  }
  > .associate {
    > .images {
      margin-top: 0.25rem;
      padding: 0.25rem 0 0 0.25rem;
      border-radius: $radius-size-std;
      border: solid 1px $deep-sidebar;
      @media (prefers-color-scheme: dark) {
        border-color: $deep-sidebar-dm;
      }
    }
    > .more {
      float: right;
      font-size: $font-size-small;
    }
  }
  > .no-any-related {
    text-align: center;
    color: $grey;
  }
}
