@import "@/styles/base/color.scss";
@import "@/styles/base/size.sass";

.content {
  padding: 0.5rem;
  max-width: 12rem;
  text-align: center;

  > .title {
    font-size: $font-size-medium;
    color: $black;
    margin-bottom: 2rem;
    @media (prefers-color-scheme: dark) {
      color: $white;
    }
  }
  > .message {
    margin: 0 0.75rem 0.25rem 0.75rem;
  }
  > .detail-message {
    margin: 0 0.75rem;
    color: $grey;
  }
  > .buttons {
    margin-top: 2rem;
    > button {
      min-width: 4rem;
      &:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }
}
