@import "@/styles/variable.sass";
@import "@/styles/base/size.sass";
@import "@/styles/base/color.scss";

.top-bar-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $bg;
    @media (prefers-color-scheme: dark) {
        background-color: $bg-dm;
    }
    > .main-content {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        transition: top 0.3s;

        &.fixed {
            top: $title-bar-height;
        }
    }
    > .top-bar-area {
        > .top-bar-component {
            transition: transform 0.3s;
            &.hidden {
                transform: translateY(#{-$title-bar-height});
            }
        }
        > .top-bar-trigger-area {
            position: absolute;
            top: 0; left: 0; right: 0; height: $title-bar-height;
        }
    }
}
