@import "@/styles/variable.sass";
@import "@/styles/base/size.sass";
@import "@/styles/base/color.scss";

.top-bar-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $bg;
    @media (prefers-color-scheme: dark) {
        background-color: $bg-dm;
    }
    > .main-content {
        position: absolute;
        top: $title-bar-height;
        left: 0; right: 0; bottom: 0;
    }
}
