@import "@/styles/base/color.scss";
@import "@/styles/base/size.sass";

.root {
  z-index: 90;
  position: fixed;

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(127, 127, 127, 0.618);

    &.transaction-active {
      transition: opacity 0.3s ease;
    }
    &.transaction-goal {
      opacity: 0;
    }
  }

  .box-framework {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.transaction-enter-active {
      transition: transform 0.15s ease-out;
    }
    &.transaction-leave-active {
      transition: transform 0.15s ease-in, opacity 0.15s ease-in;
    }
    &.transaction-enter-from {
      transform: translate(-50%, calc(1rem - 50%));
    }
    &.transaction-leave-to {
      transform: translate(-50%, calc(1rem - 50%));
      opacity: 0;
    }

    > .box {
      background-color: $dark-lightgrey;
      border-radius: $radius-size-large;
      text-align: center;
      padding: 0.5rem;
      max-width: 12rem;
      > .title {
        font-size: $font-size-medium;
        color: $black;
      }
      > .message {
        margin: 1rem 0.25rem;
      }
      > .buttons {
        > button {
          min-width: 4rem;
          &:not(:last-child) {
            margin-right: 0.25rem;
          }
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .root {
    .background {
      background-color: rgba(0, 0, 0, 0.618);
    }
    .box-framework {
      > .box {
        background-color: $more-light-dark;
        > .title {
          color: $white;
        }
      }
    }
  }
}