@import '@/styles/base/size.sass';

.content {
  padding: 0.5rem;
  max-height: 45rem;
  min-height: 5rem;
  width: 40rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  > .top {
    padding-bottom: 0.5rem;
  }
  > .scroll-content {
    height: 100%;
    overflow-y: auto;


  }
  > .bottom {
    padding-top: 0.5rem;
  }

  > .center-board {
    text-align: center;
    padding: 1rem 0;
  }
}
