@import "../base/color.scss"
@import "../base/size"


.block
  padding: 1.25rem 1.75rem 1.25rem 1rem
  border-radius: $radius-size-std
  position: relative
  box-sizing: border-box
  background-color: $shallow-bg
  color: $literal
  @media (prefers-color-scheme: dark)
    background-color: $shallow-bg-dm
    color: $literal-dm
  &.has-border
    border: solid 1px $literal

  a:not(.button):not(.dropdown-item)
    color: currentColor
    text-decoration: underline
  strong
    color: currentColor
  @media (prefers-color-scheme: light)
    @each $name, $pair in $colors
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.is-#{$name}
        background-color: $color
        color: $color-invert
        &.has-border
          border-color: $color-invert
        @if length($pair) >= 4
          $color-light: nth($pair, 3)
          $color-dark: nth($pair, 4)
          &.is-light
            background-color: $color-light
            color: $color-dark
            &.has-border
              border-color: $color-dark
      &.has-border-#{$name}
        border: solid 1px $color
  @media (prefers-color-scheme: dark)
    @each $name, $pair in $colors-dark-mode
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.is-#{$name}
        background-color: $color
        color: $color-invert
        &.has-border
          border-color: $color-invert
        @if length($pair) >= 4
          $color-light: nth($pair, 3)
          $color-dark: nth($pair, 4)
          &.is-light
            background-color: $color-light
            color: $color-dark
            &.has-border
              border-color: $color-dark
      &.has-border-#{$name}
        border: solid 1px $color

.border-block
  padding: 1.25rem 1.5rem 1.25rem 1rem
  border-radius: $radius-size-std
  position: relative
  box-sizing: border-box
  border: solid 1px $literal
  @media (prefers-color-scheme: light)
    @each $name, $pair in $colors
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.has-border-#{$name}
        border: solid 1px $color
  @media (prefers-color-scheme: dark)
    @each $name, $pair in $colors-dark-mode
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.has-border-#{$name}
        border: solid 1px $color

.popup-block
  border-radius: $radius-size-std
  position: relative
  box-sizing: border-box
  overflow: hidden
  @media (prefers-color-scheme: light)
    background-color: $bg
    color: $literal
    border: solid 1px $more-deep-light
  @media (prefers-color-scheme: dark)
    background-color: $bg-dm
    color: $literal-dm
    border: solid 1px $more-shallow-dark
