@import "../base/color.scss"
@import "../base/size.sass"

a
  text-decoration: none
  cursor: pointer
  color: $link
  @media (prefers-color-scheme: dark)
    color: toLightenColor($info, 10%)
  &:hover
    color: toLightenColor($link, 10%)
    @media (prefers-color-scheme: dark)
      color: toLightenColor($info, 20%)

button
  appearance: auto
  -webkit-writing-mode: horizontal-tb !important
  border-style: outset
  border-image: initial
  border-color: transparent
  border-width: 0
  word-spacing: normal
  letter-spacing: normal
  text-rendering: auto
  text-transform: none
  text-indent: 0
  text-shadow: none
  text-align: center
  justify-content: center
  white-space: nowrap
  align-items: flex-start
  display: inline-block
  box-sizing: border-box
  outline: none

.button
  font-size: $font-size-7
  height: $height-std
  padding: 0 1rem
  box-sizing: border-box
  border-radius: $radius-size-std
  vertical-align: top
  line-height: 1.2

  $button-size-map: ("small" ($font-size-8, $height-small, 0.8rem), "medium" ($font-size-6, $height-medium, 1.1rem))

  background-color: $lightgrey
  &:hover
    background-color: toDarkenColor($lightgrey, 5%)
  &:active
    background-color: toDarkenColor($lightgrey, 7.5%)
  @media (prefers-color-scheme: dark)
    background-color: $light-dark
    color: $white
    &:hover
      background-color: toLightenColor($light-dark, 5%)
    &:active
      background-color: toLightenColor($light-dark, 7.5%)
  &.square
    width: $height-std
    padding: 0
  &.has-border
    border: solid 1px $dark-lightgrey
  @each $name, $radius-size in $radius-size-map
    &.radius-#{$name}
      border-radius: $radius-size
  &.no-radius-left
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  &.no-radius-right
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  @each $name, $pair in $button-size-map
    $font-size: nth($pair, 1)
    $height: nth($pair, 2)
    $px: nth($pair, 3)
    &.is-#{$name}
      font-size: $font-size
      height: $height
      &:not(.square)
        padding: 0 #{$px}
      &.square
        width: $height
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      background-color: $color
      color: $color-invert
      &:hover:not([disabled])
        background-color: toDarkenColor($color, 5%)
        color: $color-invert
      &:active:not([disabled])
        background-color: toDarkenColor($color, 7.5%)
        color: $color-invert
      &[disabled]
        color: toLightenColor($color-invert, 10%)
        box-shadow: none
      @if length($pair) >= 4
        $color-light: nth($pair, 3)
        $color-dark: nth($pair, 4)
        &.is-light
          background-color: $color-light
          color: $color-dark
          &:hover:not([disabled])
            background-color: toDarkenColor($color-light, 2.5%)
            color: $color-dark
          &:active:not([disabled])
            background-color: toDarkenColor($color-light, 5%)
            color: $color-dark
          &[disabled]
            color: toLightenColor($color-dark, 10%)
  @media (prefers-color-scheme: dark)
    @each $name, $pair in $colors-dark-mode
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.is-#{$name}
        background-color: $color
        color: $color-invert
        &:hover:not([disabled])
          background-color: toLightenColor($color, 5%)
          color: $color-invert
        &:active:not([disabled])
          background-color: toLightenColor($color, 7.5%)
          color: $color-invert
        &[disabled]
          color: toDarkenColor($color-invert, 25%)
          box-shadow: none
        @if length($pair) >= 4
          $color-light: nth($pair, 3)
          $color-dark: nth($pair, 4)
          &.is-light
            background-color: $color-light
            color: $color-dark
            &:hover:not([disabled])
              background-color: toLightenColor($color-light, 2.5%)
              color: $color-dark
            &:active:not([disabled])
              background-color: toLightenColor($color-light, 5%)
              color: $color-dark
            &[disabled]
              color: toDarkenColor($color-dark, 25%)