@import "../base/size"
@import "../base/color.scss"

.help
  display: block
  margin-top: $spacing-1
  font-size: $font-size-7
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      color: $color
  @media (prefers-color-scheme: dark)
    @each $name, $pair in $colors-dark-mode
      $color: nth($pair, 1)
      &.is-#{$name}
        color: $color

.label
  color: $black
  //TODO dark mode 需要反色
  display: block
  font-weight: 700
  &:not(:last-child)
    margin-bottom: $spacing-1

.checkbox
  cursor: pointer
  display: inline-block
  line-height: 1
  position: relative
  font-size: $font-size-medium
  input[type=checkbox]
    cursor: pointer
    vertical-align: bottom
    margin: 0 0.25em 0.05em 0