@import "../base/size"
@import "../base/color.scss"

.help
  display: block
  margin-top: $spacing-1
  font-size: $font-size-7
  @each $name, $pair in $colors
    $color: nth($pair, 1)
    &.is-#{$name}
      color: $color
  @media (prefers-color-scheme: dark)
    @each $name, $pair in $colors-dark-mode
      $color: nth($pair, 1)
      &.is-#{$name}
        color: $color

.label
  color: $literal
  @media (prefers-color-scheme: dark)
    color: $literal-dm
  display: block
  font-weight: 700
  &:not(:last-child)
    margin-bottom: $spacing-1

.checkbox
  cursor: pointer
  display: inline-block
  line-height: 1
  position: relative
  font-size: $font-size-medium
  input[type=checkbox]
    cursor: pointer
    vertical-align: bottom
    margin: 0 0.25em 0.05em 0
  &.disabled
    cursor: default
    input[type=checkbox]
      cursor: default
.select
  display: inline-block
  position: relative
  vertical-align: top
  select
    display: block
    font-size: $font-size-std
    outline: none
    line-height: 1.2
    height: $height-std
    padding: 0 0.75em 0 0.75em
    border: 1px solid $deep-sidebar
    border-radius: $radius-size-std
    @media (prefers-color-scheme: dark)
      background-color: $sidebar-dm
      color: $literal-dm
      border-color: $deep-sidebar-dm
  $select-size-map: ("small" ($font-size-8, $height-small), "medium" ($font-size-6, $height-medium))
  @each $name, $pair in $select-size-map
    $font-size: nth($pair, 1)
    $height: nth($pair, 2)
    &.is-#{$name}
      font-size: $font-size
      height: $height