@import "../base/size"

.group
  > *
    margin-bottom: $spacing-1
    display: inline-block
    vertical-align: super
    &:not(:last-child)
      margin-right: $spacing-2

.single-line-group
  > *
    display: inline-block
    vertical-align: super
    &:not(:last-child)
      margin-right: $spacing-1
