@import "../base/size"
@import "../base/color.scss"

input
  -webkit-writing-mode: horizontal-tb !important
  text-rendering: auto
  letter-spacing: normal
  word-spacing: normal
  text-transform: none
  text-indent: 0
  text-shadow: none
  text-align: start
  justify-content: flex-start
  -webkit-rtl-ordering: logical
  box-sizing: border-box
  outline: none

.input
  align-items: center
  display: inline-flex
  font-size: $font-size-7
  line-height: 1.2
  height: $height-std
  padding: 0 calc(0.6rem - 1px)
  border: 1px solid $dark-lightgrey
  border-radius: $radius-size-std
  @media (prefers-color-scheme: dark)
    background-color: $light-dark
    color: $white
    border-color: $more-light-dark

  $input-size-map: ("small" ($font-size-8, $height-small), "medium" ($font-size-6, $height-medium))
  $input-width-map: ("one-third" 0.333em, "half" 0.5em, "small" 0.75em, "std" 1em, "medium" 1.25em, "large" 1.5em, "2x" 2em, "3x" 3em)

  &:focus
    box-shadow: 0 0 3px $dark-lightgrey

  &.is-fullwidth
    max-width: 100%
    width: 100%
  @each $name, $pair in $input-size-map
    $font-size: nth($pair, 1)
    $height: nth($pair, 2)
    &.is-#{$name}
      font-size: $font-size
      height: $height
  @each $name, $size in $input-width-map
    &.is-width-#{$name}
      width: #{$size * 13.6}
      max-width: #{$size * 13.6}
  @media (prefers-color-scheme: light)
    @each $name, $pair in $colors
      $color: nth($pair, 1)
      &.is-#{$name}
        border-color: $color
        &:focus
          box-shadow: 0 0 2px $color
  @media (prefers-color-scheme: dark)
    @each $name, $pair in $colors-dark-mode
      $color: nth($pair, 1)
      &.is-#{$name}
        border-color: $color
        &:focus
          box-shadow: 0 0 2px $color