@import '@/styles/base/size.sass';

.content {
  padding: 0.5rem;
  height: 35rem;
  width: 40rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  > .scroll-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  > .bottom {
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
  }

  > .center-board {
    text-align: center;
    padding: 1rem 0;
  }
}
