@import '../../../../styles/App.scss';

#app #hedge #hedge-authors-detail {
    position: relative;
    height: calc(100% - #{$title-bar-height});
    padding-top: $title-bar-height;
}

#app #hedge #hedge-authors-detail #panel {
    overflow-y: auto;
    max-height: 100%;
    padding: 1.5rem 10%;
    //主题内容box
    > div.v-main {
        //描述区域
        > p.v-description {
            font-size: 0.75rem;
            margin-top: 0.75rem;
            margin-bottom: 0.5rem;
        }
    }
    //相关链接
    > div.v-about {
        font-size: 0.75rem;
    }
    //样例images区
    > div.v-examples {
        display: flex;
        flex-wrap: wrap;
        margin-right: -0.25rem;
        //一个img项目，使用width和padding-bottom锁定长宽比
        > div:not(.v-more) {
            position: relative;
            height: 0;
            width: 20%;
            padding-bottom: 20%;
            //内层img绝对定位以应用长宽比
            > img {
                position: absolute;
                border-radius: 6px;
                top: 0; left: 0;
                width: calc(100% - 0.25rem);
                height: calc(100% - 0.25rem);
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
        > div.v-more {
            width: 100%;
            text-align: right;
            font-size: 0.75rem;
        }
    }
}