@import '@/styles/variable.sass';

.root {
  width: 100vw;
  height: 100vh;

  > .cover {
    position: absolute;
    left: 0; top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    &.cover-enter-from,
    &.cover-leave-to {
      opacity: 0;
    }
    &.cover-enter-active,
    &.cover-leave-active {
      transition: opacity 0.5s;
    }
  }
}
