@import '@/styles/variable.sass';

.root {
    //主面板的进入和离开变换
    > :global(.v-main-panel-transition-enter-from),
    > :global(.v-main-panel-transition-leave-to) {
        transform: translateY(25%);
    }
    > :global(.v-main-panel-transition-enter-active) {
        transition: transform 0.3s ease-out;
    }
    > :global(.v-main-panel-transition-leave-active) {
        transition: transform 0.3s ease-in;
    }
    //其他面板的进入和离开变换
    > :global(.v-other-panel-transition-enter-from),
    > :global(.v-other-panel-transition-leave-to) {
        transform: translateY(100%);
    }
    > :global(.v-other-panel-transition-enter-active) {
        transition: transform 0.3s ease-out;
    }
    > :global(.v-other-panel-transition-leave-active) {
        transition: transform 0.3s ease-in;
    }
}