@import '@/styles/base/size.sass';
@import '@/styles/base/color.scss';

.content {
  padding: 0.5rem;
  max-height: 45rem;
  min-height: 10rem;
  width: 50rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  > .scroll-content {
    height: 100%;
    overflow-y: auto;
  }
  > .bottom {
    padding-top: 0.5rem;
  }
}
