@import "@/styles/variable.sass";
@import "@/styles/base/size.sass";

.split-pane {
  //主要内容区域的布局定位
  > .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    //transition: right 0.4s ease;
  }
  //侧边栏内容区域的布局定位
  > .side-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    //transition: transform 0.4s ease;
  }
  //拖拽区域的布局定位
  > .resize-content {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    transform: translateX(3px);
    cursor: ew-resize;
  }
}

.pane-basic-layout {
  $main-padding-top: $spacing-1;
  height: 100%;

  border-left: solid 1px $deep-sidebar;
  @media (prefers-color-scheme: dark) {
    border-left-color: $deep-sidebar-dm;
  }

  > button {
    position: absolute;
    right: $spacing-1;
    top: 0;
  }
  > .main-content {
    box-sizing: border-box;
    padding-top: $main-padding-top;
    padding-left: $spacing-3;
    padding-right: $spacing-3;
    height: 100%;

    &.overflow {
      overflow-y: auto;
    }
  }
}
